
{% extends 'layouts/base.html' %} {% load static %} {% block title %}

<title>Anasayfa | Yemek</title>
{% endblock title %} {% block css %}
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>
{% endblock css %}
{% block content %}
<div class="row col-md-10 m-auto">
    <h1 style="font-family: 'Roboto', sans-serif; margin-top: 30px;">Yemek Tarifleri</h1>
    <div class="input-group mb-5 col-10">
    </div>
    <hr>
</div>
{% for post in page_obj %}
<div class="container" style="margin-left: 150px;">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
        <div class="col-md-4">
            <a href="{% url 'post_details' post.id %}">
                <img src="/media/{{ post.image }}" class="img-fluid rounded-start" alt="{{post.title}}">
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.content}}</p>
            </div>
        </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}